@model IEnumerable<Kopija.ModeliPomocni.NaServisListaUkupno>

@{
    ViewData["Title"] = "Lista Opreme na Servisu";
}

<h1 class="my-4">Lista opreme na servisu</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><a asp-action="Servis">Dodaj Novu opremu na servis</a></li>
    <li class="breadcrumb-item active">Spisak Opreme Na Servisu</li>
</ol>


<div id="Stampanje" class="card mb-4 oprema-radnika">
    <div id="pdfContainer" class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.QR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Marka)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Datum)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.Sektor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kategorija)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Napomena)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OpisKvaraPre)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Ime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prezime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                         <td>
                            @Html.DisplayFor(modelItem => item.QR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marka)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Datum)
                        </td>
                 
                        <td>
                            @Html.DisplayFor(modelItem => item.Sektor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kategorija)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Napomena)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OpisKvaraPre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prezime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


